.navbar {
  width: 100%;
  // position: fixed;
  padding: 0px;
  position: sticky;
  top: 0;
  left: 0;
  // background: rgba(10, 10, 10, 0.85);
  background-color: black;
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 2px 20px rgba(0, 255, 200, 0.08);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 1rem 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.highlight {
  background: linear-gradient(90deg, #00e0ff, #00ffa3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  padding: 10px;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
}

.nav-btn {
  background: linear-gradient(90deg, #00ffa3, #00e0ff);
  color: #000;
  font-weight: 600;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-icon {
  display: none;
  color: white;
  cursor: pointer;
}

/* Profile avatar button */
.profile-avatar {
  background: linear-gradient(90deg, #00e0ff, #00ffa3);
  color: #000;
  font-weight: 700;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(15, 15, 15, 0.98);
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
